/*colours:
primary colour: rgb(30,58,80) (dark blue)
secondary colour: rgb(235,166,1)(yellow orange)

colour for propInvest project:
primary colour: rgb(225,221,24,1.0) (lime)
secondary colour: rgb(227,120,23) (orange)
buttons: rgb(68,85,98)
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Caveat';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(30, 58, 80);
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.75em;
}

h2 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
}

h3 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

h4 {
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 1.35em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(235, 166, 1);
}

a:visited {
  /*color: rgb(235,166,1);*/
}

a:hover {
  color: rgba(30, 58, 80, 0.5);
  text-decoration: underline;
}

a:active {
  color: rgba(235, 166, 1, 0.6);
}

a:hover,
a:focus {
  color: rgba(30, 58, 80, 0.5);
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgb(30, 58, 80);
  transition: 0.2s opacity;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
}

.button.contact {
  background-color: transparent;
  color: rgb(30, 58, 80);
  text-transform: uppercase;
  border: 1px solid rgb(30, 58, 80);
}

.button.contact:hover {
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(30, 58, 80);
}

.button.contact:active {
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(30, 58, 80);
}

#projects h2 {
  text-align: center;
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-image: url('../img/projects/projects_1@2x.jpg');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-color: rgb(350, 350, 350);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero .box {
  background-color: rgba(350, 350, 350, 0.5);
  padding-bottom: 20px
}

#hero h1 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0.67em 0;
}

#hero p {
  text-align: left;
  font-weight: 700px;
}

#contact {}

#about h2 {
  text-align: left;
}

#process h1 {
  display: inline-block;
}

#process h3 {
  margin-left: 10px;
  display: inline-block;
}

#strap {
  padding: 5px 0;
  text-align: center;
  color: rgb(235, 166, 1);
}

#strap ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#strap li {
  display: inline-block;
  padding: 0 10px;
}

#strap h3 {
  margin: 5px;
}

#strap span {
  font-family: 'Pt Sans Narrow', sans-serif;
}

picture {
  width: 100%;
  height: auto;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #1C3245;
  text-align: center;
  padding: 10px 0;
  font-family: 'Pt Sans Narrow', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
}

nav>ul>li>a:visited {
  color: #ffffff;
}

nav>ul>li>a:hover {
  text-decoration: none;
  color: rgba(350, 350, 350, 0.8);
}

nav>ul>li>a:active {
  text-decoration: none;
  color: rgba(350, 350, 350, 0.8);
}
