/*colours:
primary colour: rgb(30,58,80) (dark blue)
secondary colour: rgb(235,166,1)(yellow orange)

colour for propInvest project:
primary colour: rgb(225,221,24,1.0) (lime)
secondary colour: rgb(227,120,23) (orange)
buttons: rgb(68,85,98)
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: /*'Caveat';*/ 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(30, 58, 80);
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.75em;
  text-align: center;
}

h2 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
}

h3 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

h4 {
  font-family: 'Pt Sans Bold 700', sans-serif;
  font-weight: 700;
  font-size: 1.35em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(235, 166, 1);
}


a:visited {
  /*color: rgb(235,166,1);*/
}

a:hover {
  color: rgba(30, 58, 80, 0.5);
  text-decoration: underline;
}

a:active {
  color: rgba(235, 166, 1, 0.6);
}

a:hover,
a:focus {
  color: rgba(30, 58, 80, 0.5);
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgb(30, 58, 80);
  transition: 0.2s opacity;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
}

.button.contact {
  background-color: transparent;
  color: rgb(30, 58, 80);
  text-transform: uppercase;
  border: 1px solid rgb(30, 58, 80);
}

.button.contact:hover {
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(30, 58, 80);
}

.button.contact:active {
  background-color: rgb(30, 58, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(30, 58, 80);
}

.projects h2 {
  text-align: center;
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
}

.projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-image: url('../img/projects/projects_1@2x.jpg');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-color: rgb(350, 350, 350);
  padding: 137px 0px;
  display: inline-block;
  width: 100%;
}

#hero .box {
  background-color: rgba(350, 350, 350, 0.5);
  padding-bottom: 20px
}

#hero h1 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

#hero p {
  text-align: left;
  font-weight: 700px;
}
#hero span {
  display: block;
  font-size: 24px;
}
#hero .box .container p {
  margin-left: 1em;
  text-align: center;

}


#contact {
  text-align: center;
  font-family: 'Pt Sans Narrow', sans-serif;
}

#about h2 {
  text-align: center;

}
#about h3 {
  text-align: center;
}
#about h4{
  margin-left: 20px;
  font-family: 'Pt Sans Narrow', sans-serif;
}

}
#about .profileImg {

  width: 200px;
  height: auto;

}
.profileImg {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-top: 20px;

}

#about .profileImg {
    margin-top: 172px;

}
#process h1 {
  display: inline-block;
}

#process h3 {
  margin-left: 10px;
  display: inline-block;
}

#strap {
  padding: 15px 0;
  text-align: center;
  color: rgb(235, 166, 1);
}

#strap ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

#strap li {
  display: inline-block;
  padding: 40px 40px;
  margin-top: 10px
}



#strap h3 {
  margin: 2px;
  font-size: 36px
}

#strap span {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-size: 24px;
}

#forecastintro {
  margin-top: 170px;
}
#forecastintro span{
  display: block;
  font-weight: 400;
  font-size: 0.75em;
}
#forecastintro p {
  text-align: center;
}
#forecast header {
  top:0px;
}

#propinvestIntro {
  margin-top: 150px;
}
#propinvestIntro h1 {
  margin-bottom: 0px;
}

#propinvestIntro h3 {
  text-align: center;
  font-size: 24;
  margin-top: 0;
}

#flashcards .flashcardsIntro {
  margin-top: 180px;
}
#flashcards .flashcardsIntro p{
  font-size: 21px;

}
#flashcards .flashcardsIntro span{
display: block;
font-size: 32px;
font-family: 'Pt Sans Narrow', sans-serif;


}
#flashcards .flashcardsIntro h1{
margin-bottom: 0;

}


picture {
  width: 100%;
  height: auto;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}
.row::after {
  content:"";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}





header {
  background-color: #1C3245;
  text-align: center;
  padding: 10px 0;
  font-family: 'Pt Sans Narrow', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  right: 0px;
  left: 0px;
  top:0px;
  position: fixed;
}

nav {
  display: inline-block;
  width: 100%;

}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
}

nav>ul>li>a:visited {
  color: #ffffff;
}

nav>ul>li>a:hover {
  text-decoration: none;
  color: rgba(350, 350, 350, 0.8);
}

nav>ul>li>a:active {
  text-decoration: none;
  color: rgba(350, 350, 350, 0.8);
}

@media only screen and (max-width: 639px) {

.center-container {
  text-align: center;
  float: none;
}
  ul {
  list-style-type: none;
  padding-left: 0px
}


}


@media only screen and (min-width: 640px) {

  header {
  text-align: unset;
  width: auto;
  padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-4 {
    width: 33.33%;
  }


  .col-md-6 {
    width: 50%;
  }
  nav a
  {
      color: #FFF;
      text-decoration: none;
      font: 'Pt Sans Narrow', sans-serif;
      font-size: 16px;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }


  /* Border from Y to X  */
  nav a:before,
  nav a:after
  {
      position: absolute;
      opacity: 0.5;
      height: 100%;
      width: 2px;
      content: '';
      background: #FFF;
      transition: all 0.3s;
  }

  nav a:before
  {
      left: 0px;
      top: 0px;
  }

  nav a:after
  {
      right: 0px;
      bottom: 0px;
  }

  nav a:hover:before,
  nav a:hover:after
  {
      opacity: 1;
      height: 2px;
      width: 100%;
  }
}
@media only screen and (min-width: 1024px) {

.col-lg-7 {
  /*width: 58%*/

}
.col-lg-5 {
  width: 42%;
}
body {
  font-size: 1.1em;

}



}




@media only screen and (min-width: 1440px) {

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body {
  font-size: 1.2em;

}

}
@media only screen and (min-width: 1920px) {


  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body{
  font-size: 1.3em;
}
}
[class*="col-"] {
  float: left;
}
[class*="col-"] {
  padding-right: 30px;
}





/*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]*/

@keyframes color-change {
  from {fill: yellow;}
  to {fill: orange;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}







/*.rotate {
  animation-duration: 5s;
  animation-name: rotateobject;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

}*/

  }
  @keyframes makebigger   {
  100% {transform: scale(1.1,1.1);}
  }

  .scaleup {
    animation-duration: 2s;
    animation-name: makebigger;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

  }





/*added from codepen*/



.social-icons svg {
  width: 40px;
  height: auto;
  margin: 0.55em 0.55em;
}

.projects img {
  max-width: 100%;
  width: 300px;
  height: auto;
}
.projects .row {
  margin-top: 100px;
  margin-bottom: 10px
}

.logo {
  width: 150px;
  height: auto;
  max-width: 250px;
}
.center-me {
  text-align: center;
}

.about-page p {
  margin-left:50px;
  margin-right: 50px;
  font-family: 'Pt Sans Regular 400', sans-serif;
}

.about-columns {
  width: 75%;
  margin: 0 auto;
  font-family: 'Pt Sans Regular 400', sans-serif;
  margin-top: 20px;

}


.forecast-logo {
  text-align: center;

}
.forecast-logo svg {
  margin-top: 70px;
  width: 70%;
  height: auto;
}
