
/*colours:
primary colour: rgb(30,58,80) (dark blue)
secondary colour: rgb(235,166,1)(yellow orange)

colour for propInvest project:
primary colour: rgb(225,221,24,1.0) (lime)
secondary colour: rgb(227,120,23) (orange)
buttons: rgb(68,85,98)
*/
* {
  box-sizing: border-box;
}
body {
  background-color:#FFFFFF;
  font-family: 'Caveat';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(30,58,80);

}
h1,h2,h3,h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.75em;
}
h2 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
}
h3 {
  font-family: 'Pt Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}
h4{
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 1.35em;
}
img {
  width: 100%;
}
a {
  color: rgb(235,166,1);
  text-decoration: none;
}
a:visited {
  color: rgb(235,166,1);
}
a:hover {
    color: rgba(30,58,80,0.5);
    text-decoration: underline;
}
a:active {
  color: rgba(235,166,1,0.6);
}
a:hover,
a:focus {
  color: rgba(30,58,80,0.5);
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: rgb(30,58,80) ;
  color: rgb(255,255,255);
  font-family: 'Pt Sans Narrow', sans-serif;/*how to override link font color?*/
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgb(30,58,80);
  transition: 0.2s opacity;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.button.primary{
  color: #ffffffff
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: rgb(255,255,255);
}
.button:active {
  opacity: 0.8;
  text-decoration: none;
  background-color: rgb(30,58,80);
  color: rgb(255,255,255);
  }

  .button.contact {
    background-color: transparent;
    color: rgb(30,58,80);
    text-transform: uppercase;
    border: 1px solid rgb(30,58,80);
  }
  .button.contact:hover {
    background-color: rgb(30,58,80);
    color: rgb(255,255,255);
    border: 1px solid rgb(30,58,80);
  }
  .button.contact:active {
      background-color: rgb(30,58,80);
      color: rgb(255,255,255);
      border: 1px solid rgb(30,58,80);
  }

  #hero {
  }
  #projects {
  }
  #contact {
  }
 #index {
 }
 #about {
 }
 #forecast {
 }
 picture {
  width: 100%;
  height: auto;
}
header {

}
